{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @see template_preprocess_my_template()
 *
 * @ingroup themeable
 */
#}

<div class="wrapper-class">

  <!-- MultiStep Form -->
  <div class="container-fluid" id="grad1">
    <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          {% block form_title %}{% endblock %}
          <div class="row">
            <div class="col-md-12 mx-0">
              {% block bol_form %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
